@font-face {
    font-family: berlin;
    src: url("../font/BerlinRegular.TTF");
}

@font-face {
    font-family: NeueEinstellungBold;
    src: url("../font/NeueEinstellungBold.ttf")
}

@font-face {
    font-family: digital;
    src: url("../font/digital.ttf")
}

/* modal */
.modal {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.modal .fade {
    width: 100%;
    height: 100%;
    transition: opacity .15s linear;
    background: #000;
    opacity: 0.5;
    position: fixed;
    z-index: -1;
}

.modal .modal-card {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
    z-index: 1;
}

.modal-post-lelang {
    width: 750px;
}

.modal-nav {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 0 5%;
}

.modal-nav label {
    padding: 1.5em 0 1.25em;
    border-bottom: 2px solid #00edaa;
}

.modal-content {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2em 5%;
}

.modal-content input, .modal-content textarea, .modal-content select {
    height: fit-content;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 3px;
    color: #00edaa;
}

.modal-content input::placeholder, .modal-content textarea::placeholder, .modal-content select {
    color: rgba(0, 0, 0, 0.425);
}

.modal-content input:focus, .modal-content textarea:focus, .modal-content select:focus {
    border-color: #00edaa;
    outline: 0;
}

.modal-content select option a {
    padding: 10px 0;
}

.modal-content .input-file {
    margin: 5px;
    padding: 1em;
    background: #00edaa;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
}

.modal-content .input-time input {
    width: 25%;
}

.modal .button-group {
    display: flex;
    padding: 2em 5%;
}

/* Navbar */
#index-navbar {
    position: fixed;
    width: 90%;
    padding: 15px 5%;
    background-color: #fff;
    transition: none;
    z-index: 99;
}

#logo a {
    font-family: berlin;
    color: #00edaa;
    font-size: 20px !important;
}

#nav-tool .profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#nav-tool .i-search {
    height: 25px;
}

#profile-picture button {
    padding: 7px 10px
}

.show-modal-tools {
    min-width: 8em;
    position: fixed;
    top: 4.5em;
    right: 2em;
    padding: 2.5em 1.25em 2em;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0 2px 6px 1px;
    z-index: 1;
}

.show-modal-tools a:hover {
    color: #00edaa;
    transition: .1s !important;
}

.show-empty-data img {
    width: 400px;
}

/* thing list */
#type-thing a {
    color: #757575;
}

.type-active {
    padding: 8px 17px !important;
    background: #c1ffed87;
    color: #00edaa !important;
    border-radius: 5px;
}

.product-container .product {
    width: 25%;
}

.product-container .product-img {
    width: 100%;
    padding-top: 77%;
    border-radius: 10px;
}

.product-list {
    width: 70%;
    height: 2em;
}

.product-info {
    width: 80%;
}

.product-img-container .product-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.product-img-container {
    width: 20%;
}

.title-content {
    font-size: 20px;
}

/* add-new */

#add-new {
    width: 30%;
    height: 100vh;
}

#add-new .content {
    position: sticky;
    top: 6em;
}

/* tag list style */

.tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag-list .tag {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: rgba(0, 0, 0, .05);
    padding: 3px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .05);
    font-size: 11px !important;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 700;
    -webkit-transition: .2s;
    transition: .2s;
}

/* Detail Product */
#product-detail {
    display: flex;
}

#product-detail .product-img {
    width: -webkit-fill-available;
    position: sticky;
    top: 5em;
}

#product-detail .product-img img {
    width: 100%;
    border-radius: 10px;
}

#product-detail .detail-product {
    width: 36em;
    padding-left: 3em;
}

.show-price {
    display: flex;
    font-size: 13px;
}

.show-description {
    color: gray;
    line-height: 26px;
}

.product-img-list .img-list {
    width: 32%;
    height: 6em;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: 5px;
    transition: .2s;
}

.product-img-list .img-list:hover {
    opacity: .5;
}

.product-img-list .active {
    opacity: .5;
}

.timing div {
    width: 50px;
    padding: 13px 0;
    font-family: digital;
    font-size: 22px;
    text-align: center;
    background: rgb(228, 228, 228);
    border-radius: 5px;
}

.timing label {
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

/* user profile */

#profile-user {
    display: flex;
}

#profile-sidebar {
    width: 18em;
    min-height: 100vh;
    padding: 1.5em 2.5em;
    background: #f4f7f4;
    position: sticky;
    top: 0;
    height: fit-content;
}

#profile-sidebar .profile .img-profile {
    width: 5em;
    border-radius: 10px;
}

#profile-sidebar .profile .bt {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
}

#profile-sidebar .link-bar .link {
    padding: 13px 15px;
    background: transparent;
    border: 0;
    border-radius: 25px;
}

#profile-sidebar .link-bar .active {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
}

#profile-content {
    padding: 3em;
}

#profile-content h1 {
    font-size: 40px;
}

.show-barang-terjual .product, .show-barang-terbeli .product {
    border: 1px solid #f2f4f4;
    border-radius: 10px;
}

.show-barang-terjual .product:hover , .show-barang-terbeli .product:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
}

.show-barang-terjual .product .product-img-container, .show-barang-terbeli .product .product-img-container {
    width: 130px;
}

.show-barang-terjual .product .product-img, .show-barang-terbeli .product .product-img {
    width: 80px;
    height: 80px;
}

.profile-show-profile form {
    width: 80%;
}

.profile-show-profile input, .profile-show-profile .upload-file {
    width: 100%;
    font-size: 13px;
}

.profile-show-profile .upload-file {
    width: calc(100% + 2.5em) !important;
}

.profile-show-profile .upload-file .input-cst {
    width: 90%;
    padding-left: 2.5em;
}

.profile-show-profile .upload-file .bt {
    width: 15%;
    padding: 1.25em;
}

/* Auth */
.auth-form {
    width: 45%;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.auth-form h1 {
    font-family: berlin;
    font-size: 40px;
}

.auth-form form {
    width: 24em;
}

.auth-form form button {
    padding: 1em;
}

.auth-banner {
    width: 55%;
    background: url("../img/index/login.jpg");
}