* {transition: .3s;font-family: sans-serif;}
body {margin: 0;}
#app {padding: 80px 5%;}
hr {margin-top: 1rem; margin-bottom: 1rem; border: 0; border-top: 1px solid rgba(0,0,0,.1);}
a:-webkit-any-link {color: unset;}


/* positioning */
.m-0 {margin: 0;}
.m-05 {margin: .25rem};
.m-1 {margin: .5rem;}
.m-2 {margin: 1rem;}
.m-3 {margin: 1.5rem;}
.m-4 {margin: 2rem;}
.m-5 {margin: 3.5rem;}
.m-6 {margin: 4.5rem;}
.mt-0 {margin-top: 0;}
.mt-1 {margin-top: .5rem;}
.mt-2 {margin-top: 1rem;}
.mt-3 {margin-top: 1.5rem;}
.mt-4 {margin-top: 2rem;}
.mt-5 {margin-top: 3.5rem;}
.mt-6 {margin-top: 4.5rem;}
.mb-1 {margin-bottom: .5rem;}
.mb-2 {margin-bottom: 1rem;}
.mb-3 {margin-bottom: 1.5rem;}
.mb-4 {margin-bottom: 2rem;}
.mb-5 {margin-bottom: 3.5rem;}
.ml-1 {margin-left: .5rem;}
.ml-2 {margin-left: 1rem;}
.ml-3 {margin-left: 1.5rem;}
.ml-4 {margin-left: 2rem;}
.ml-5 {margin-left: 3.5rem;}
.ml-6 {margin-left: 4.5rem;}
.mr-1 {margin-right: .5rem;}
.mr-2 {margin-right: 1rem;}
.mr-3 {margin-right: 1.5rem;}
.mr-4 {margin-right: 2rem;}
.mr-5 {margin-right: 3.5rem;}
.mr-6 {margin-right: 4.5rem;}

.p-1 {padding: .5rem;}
.p-2 {padding: 1rem;}
.p-3 {padding: 1.5rem;}
.p-4 {padding: 2rem;}
.p-5 {padding: 3.5rem;}
.p-6 {padding: 4.5rem;}
.pl-1 {padding-left: .5rem;}
.pl-2 {padding-left: 1rem;}
.pl-3 {padding-left: 1.5rem;}
.pl-4 {padding-left: 2rem;}
.pl-5 {padding-left: 3.5rem;}
.pl-6 {padding-left: 4.5rem;}

.float-left {float: left;}
.float-right {float: right;}

.align-i-center {align-items: center;}
.align-s-center {align-self: center;}

.fullwidth {width: 100%;}

/* text */
a {text-decoration: none;}
.text-center {text-align: center;}

.text-bold {font-weight: 700;}
.text-thin {font-weight: 100;}

/* sizing text */
a {font-size: 15px;}

/* button */
.bt {padding: 10px 15px; border-radius: 4px;}
.bt-medium {padding: 13px 20px; border-radius: 4px; font-size: 14px;}
.bt-primary {background: transparent; border: 1px solid #00edaa; color: #00edaa;}
.bt-primary:hover {background: #00edaa; color: #fff;}

/* color */
.color-pale {color: rgba(0,0,0,.54);}
.color-primary {color: #00edaa;}

/* cursor */
.c-pointer {cursor: pointer;}

/* display */
.d-flex{display: flex;}
.d-i-flex{display: inline-flex;}
.d-block{display: block;}
.d-i-block{display: inline-block;}
.d-none{display: none;}
.background-setup{background-size: cover !important; background-position: center !important; background-repeat: no-repeat !important;}