/* responsive */

@media screen and (max-width: 950px) {
    .product-list .product-img-container {
        width: 20%;
    }
    /* detail ptoduct */
    #product-detail .detail-product {
        padding-left: 1.5em;
    }
    #product-detail .detail-product h1 {
        font-size: 1.5rem;
    }
    #product-detail .detail-product .show-timing-out, #product-detail .detail-product .show-description {
        font-size: 15px;
        line-height: 25px;
    }
    /* auth */
    .auth-form {
        width: 100%;
    }

    .auth-banner {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    /* sizing font */
    a {
        font-size: 13px !important;
    }
    #type-thing {
        display: flex;
        text-align: left;
        min-width: 100%;
        overflow-x: auto;
        margin: 0 -5%;
        padding-left: 5%;
    }
    #type-thing::-webkit-scrollbar, .product-container::-webkit-scrollbar {
        width: 0;
    }
    .product-container {
        overflow-x: auto;
        margin: 0 -5.5%;
        padding-left: 5%;
    }
    .product-container .product {
        min-width: 14em;
    }
    .product-list {
        width: 100%;
    }
    .product-list .product-img {
        width: 100px;
        height: 100px;
        padding-top: 0;
    }
    #type-thing .d-i-block {
        display: flex;
        height: fit-content;
    }
    #type-thing .d-i-block a {
        padding: 8px 17px !important;
    }
    
    /* add-new  */
    .find-by-kategori {
        padding-left: 0 !important;
    }
    .container-flex {
        display: block !important;
    }
    .product-list {
        display: inline-block;
    }
    #add-new {
        width: 100%;
    }
    /* detail product */
    #product-detail {
        display: block;
    }
    #product-detail .detail-product {
        width: 100%;
        margin-top: 1em;
        padding-left: 0;
    }
    #product-detail .product-img {
        position: static;
    }
    /* profile user */
    #profile-user {
        display: block;
    }
    #profile-user #profile-sidebar {
        width: 80%;
        min-height: fit-content;
        padding: 1.5em 10%;
        position: relative;
    }
    #profile-user #profile-sidebar .profile button {
        width: fit-content;
        display: inline-flex;
    }
    #profile-user #profile-sidebar .link-bar {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .product-list .product-img {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 500px) {
    .product-list .product-img-container {
        width: 30%;
    }
    .product-list .product-img {
        width: 85px;
        height: 85px;
    }
    .auth-form form {
        width: 80%;
    }
    .auth-form form p {
        font-size: 13px;
    }
    .auth-form form img {
        width: 25px;
        height: 25px;
    }
    .auth-form form h1 {
        font-size: 25px;
    }
}